<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if len_books == 0 %}
      <p>Library is empty......</p>
    {% else %}
      {% for books in book %}
          <ul>
        <li><a href="{{ url_for('delete', id=books.id) }}">Delete</a> {{ books.title }} - {{ books.author }} - {{ books.rating }}/10
          <a href="{{ url_for('edit', index=books.id) }}">Edit Rating</a></li>
          </ul>
      {% endfor %}
    {% endif %}
    <a href="{{ url_for('add') }}">Add New Book</a>
  </body>
</html>
